<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Joelflix | Home</title>
    <link rel="icon" href="static/images/favicon.png" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="static/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <ul>
      <li><a href="/logout">Logout</a></li>
      <li><a href="#news">TV Shows</a></li>
      <li><a href="#contact">Movies</a></li>
      <li><a class="active" href="#home">Home</a></li>
    </ul>
  </body>
  <body class="user-dashboard-bg">
    <div class="dashboard-row">
      <div class="col-8">
        <h1>Hello, {{user.name }}!</h1>
        <br />
        <div class="col1">
          Step into the world of entertainment with Joelflix, where your viewing
          experience is our top priority. Immerse yourself in a diverse array of
          captivating shows, movies, and documentaries carefully curated just
          for you.
        </div>
      </div>
    </div>

    <div class="container dashboard">
      <div class="logo">
        <img src="static/images/logo.png" alt="Logo" />
      </div>
      <div class="container dashboard">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <!-- This is an HTML comment. 
            <h2>user dashboard</h2>
            <p><b>Name: </b> {{user.name }}</p>
            <p><b>Email: </b> {{user.email }}</p>
            <a href="/logout" class="btn btn-dark">Logout</a> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
